.checkout {
    margin: 10px 10px;
    padding-bottom: 15rem;
}

.checkout__right{
    padding-top: 30px;
    padding-left: 25px;
}
.checkout__card{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.checkout__warningMessage{
    margin-top: 20px;
}